{% extends 'base_others.html' %}

{% load static %}

{% block content %}

<body>
    <!-- about section start -->
    <div class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 about_main">
                    <h1 class="about_text">About <span style="color: #f7566e;">Us</span></h1>
                    <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, </p>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div> 
                <div class="col-sm-8">
                    <div><img src="{% static 'logistics_app/images/img-1.png' %}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section end -->
        <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">Copyright 2019 All Right Reserved By.<a href="https://html.design"> Free  html Templates</a>  Distributed By <a href="https://themewagon.com">ThemeWagon</a></p></p>
        </div>
    </div>
    <!-- copyright section end -->

</body>

{% endblock %}